.navbar {
    background-color: gray;
}

.fas.fa-dog {
    font-size: 30px;
    color: black;
}

.quem-somos {
    background-color: rgb(231, 222, 222);
}

.margin {
    padding-bottom: 80px;
    padding-top: 10px;
}

.Parceiros {
    background-color: gray;
}

.bg-footer {
    background-color: gray;
}